/.vscode
/venv
/test
/server_start.ps1
/nnsvs
/nnsvs-master
/nnsvs-main
/SiFiGAN-nnsvs
/ParallelWaveGAN-nnsvs
/HN-UnifiedSourceFilterGAN-nnsvs

*.exe
*.log
*.wav
*.pth
*.cache
*.csv
*.zip
dump
outputs
release
__pycache__
*.lnk
